<% include ./partials/header %>

<div class="ui container">
   <div class="ui stackable two column grid">
      <!-- Creating chosen pokemon team members -->
      <% for(var i=0; i<6; i++){ %>
      <div class="ui column team">
         <div class="ui segment">
            <div class="ui grid team-member">
               <div class="member-card center aligned five wide column">
                  <div class="ui card chosen">
                     <div class="image">
                        <img src="https://pm1.narvii.com/6508/dbd421799e1fc9118c02766e5c13836c87db6070_hq.jpg" />
                     </div>
                     <div class="description"></div>
                  </div>
               </div>
               <div class="member-details eleven wide column">
                  <div class="ui grid details">
                     <div class="main two column row">
                        <div class="column"><div class="type-one"></div></div>
                        <div class="column"><div class="type-two"></div></div>
                     </div>
                     <div class="effect row"><h5 class="header super-effective"></h5><hr></div>
                     <div class="two column row">
                        <div class="column"><p class="super-effective-one"></p></div>
                        <div class="column"><p class="super-effective-two"></p></div>  
                     </div>
                     <div class="effect row"><h5 class="header not-effective"></h5><hr></div>
                     <div class="two column row">
                        <div class="column"><p class="not-effective-one"></p></div>
                        <div class="column"><p class="not-effective-two"></p></div>
                     </div>
                     <div class="effect row"><h5 class="header no-effect"></h5><hr></div>
                     <div class="two column row">
                        <div class="column"><p class="no-effect-one"></p></div>
                        <div class="column"><p class="no-effect-two"></p></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <% } %>
   </div>
   <div class="ui eight column doubling centered grid thumbnails">
      <!-- Creating ALL pokemon thumbnails -->
      <% pokedex.forEach( pokemon => { %>
      <div class="center aligned column">
         <div class="ui card thumbnail">
            <div class="image"><img src="<%= pokemon.image %>" /></div>
            <div class="description">
               <strong>#</strong><span><%= pokemon.id %></span>
               <div class="pokemon-name"><%= pokemon.name %></div>
            </div>
         </div>
      </div>
      <% }) %>
   </div>
</div>

<script type="text/javascript">
   //Converting ejs variable to js variable
   var pokedex = <%- JSON.stringify(pokedex) %>;
   var types = <%- JSON.stringify(types) %>;
   //Empty array that will contain the IDs of the pokemons picked by the user (max 6)
   var selectedPokemons = [];
   //Empty array that will contain the entries of the pokemons picked by the user
   var team;
   //Empty array that will contain the collective types of the pokemons picked by the user
   var teamTypes;
   //Empty array that will contain the entries of the pokemons' types
   var teamTypesEntries;

   function convertToEntry() {
      //Turn the array of IDs (selectedPokemons) to an array of selected Pokemons' entries (team)
      team = selectedPokemons.map(selected => {
         //Finding the pokemon entry from the pokedex based on the Id in the selectedPokemon array
         //Because the Id in the selectedPokemon array is a string, it has to be parsed into Number
         return pokedex.find(pokemon => pokemon.id === parseInt(selected, 10));
      });

      //Making a collective array of all selected pokemons' types
      teamTypes = team.map(function(pokemon){
         if (!pokemon){
            return null
         }
         return {
            type1: pokemon.types.type1.toUpperCase(),
            type2: pokemon.types.type2 ? pokemon.types.type2.toUpperCase() : null
         }
      });
      //Turning this collective array of selected pokemons' types into full entries
      teamTypesEntries = teamTypes.map(function(pokemon){
         if(!pokemon){
            return null
         }
         return {
            type1: types.find(function(type){
               return type.name === pokemon.type1;
            }),
            type2: types.find(function(type){
               return type.name === pokemon.type2;
            })
         }
      });

      // //test
      // console.log(teamTypes);
      // console.log(teamTypesEntries);
   }

   //Make the selected pokemons show up as thumbnails
   function addMember(){
      for (var i = 0; i < 6; i++) {
         //Per team member's thumbnail
         if (selectedPokemons[i]) {
            //Add description and closing icon
            $(`.chosen:eq(${i}) .description`).html(`<span>#${team[i].id}</span> ${team[i].name}`);
            $(`.chosen:eq(${i}) .description`).append("<i class='close icon'></i>");
            //Add pokemon image
            $(`.chosen:eq(${i}) img`).attr('src', team[i].image);
            //Add eventListener to each existing closing icon that will remove said team member when clicked
            $(`.chosen:eq(${i}) .close.icon`).click(removeMember.bind(null, i));

            //Adding type icons
            $(`.type-one:eq(${i})`).text(teamTypesEntries[i].type1.name);
            if(teamTypes[i].type2){
               $(`.type-two:eq(${i})`).text(teamTypesEntries[i].type2.name);
            }

            //Adding super-effective icons
            $(`.super-effective:eq(${i})`).text("super-effective against");
            $(`.super-effective-one:eq(${i})`).text(teamTypesEntries[i].type1.superEffective.join(" "));
            //Adding Not-very-effective icons
            $(`.not-effective:eq(${i})`).text("not-very-effective against");
            $(`.not-effective-one:eq(${i})`).text(teamTypesEntries[i].type1.notEffective.join(" "));
            //Adding No-effect icons
            $(`.no-effect:eq(${i})`).text("no-effect against");
            $(`.no-effect-one:eq(${i})`).text(teamTypesEntries[i].type1.noEffect.join(" "));
            //Same for type 2, if it exists
            if(teamTypes[i].type2){
               $(`.super-effective-two:eq(${i})`).text(teamTypesEntries[i].type2.superEffective.join(" "));
               $(`.not-effective-two:eq(${i})`).text(teamTypesEntries[i].type2.notEffective.join(" "));
               $(`.no-effect-two:eq(${i})`).text(teamTypesEntries[i].type2.noEffect.join(" "));
            }

            //Additional styling
            $(`.chosen:eq(${i})`).css('border', 'none');
            
            if(teamTypes[i].type2){
               $(`.type-two:eq(${i})`).addClass("type-icon");
               $(`.type-two:eq(${i})`).css('color', teamTypesEntries[i].type2.color);
               $(`.team:eq(${i}) .segment`).css({backgroundImage: `linear-gradient(to bottom right, ${teamTypesEntries[i].type1.color},${teamTypesEntries[i].type2.color})`, border: 'none'});
            }
            $(`.type-one:eq(${i})`).addClass("type-icon");
            $(`.type-one:eq(${i})`).css('color', teamTypesEntries[i].type1.color);
            $(`.team:eq(${i}) .segment`).css({backgroundColor: teamTypesEntries[i].type1.color, border: 'none'});

         }
      }
   }


   //Callback attached to closing icon's event listener that will remove selected pokemon from team
   function removeMember(index) {
      //Remove this pokemon from the selectedPokemons array according to the index passed in
      //Retain the indexes of other remaining team members using null
      selectedPokemons[index] = null;
      //Update the team's pokemon entries to reflect this removal
      convertToEntry();
      //Remove this team pokemon's closing icon and its eventListener
      $(`.chosen:eq(${index}) .close.icon`).remove();
      //Remove this team pokemon's name
      $(`.chosen:eq(${index}) .description`).html('');
      //Change back this team pokemon's image to the default
      $(`.chosen:eq(${index}) img`).attr(
         'src',
         'https://pm1.narvii.com/6508/dbd421799e1fc9118c02766e5c13836c87db6070_hq.jpg'
      );

      $(`.ui.grid.team-member:eq(${index}) .details`).find(".type-one,.type-two,h5,p").text("");
      $(`.chosen:eq(${index})`).css('border', '2px solid black');
      $(`.type-one:eq(${index})`).removeClass("type-icon");
      $(`.type-two:eq(${index})`).removeClass("type-icon");
      $(`.team:eq(${index}) .ui.segment`).css({background: 'none', backgroundColor: 'white', border: '1px solid rgba(34, 36, 38, 0.15)'});
   }

   //Adding eventlisteners to each pokemon thumbnail so that we know which pokemon gets picked by user
   $('.thumbnail').click(function() {
      var emptySlot = selectedPokemons.indexOf(null);
      if (emptySlot === -1 && selectedPokemons.length < 6) {
         //Overwriting the context of "this"
         //Id of the chosen pokemon will be added to the selectedPokemon array if it is not full
         selectedPokemons.push($('span', this).text());
         //testing
      }
      //Slot in the newly selected pokemon's id into the existing array if there is an empty spot
      
      if (emptySlot > -1) {
         selectedPokemons[emptySlot] = $('span', this).text();
      }

      //Turn the array of IDs to an array of selected Pokemons' entries
      convertToEntry();



      //Make the selected pokemons show up as thumbnails
      addMember();
   });
</script>

<% include ./partials/footer %>
