<% include ./partials/header %>

<div class="ui container">
      
   <div class="ui doubling two column grid">
      <!-- Creating chosen pokemon team members -->
      <% for(var i=0; i<6; i++){ %>
         <div class="ui column team">
            <div class="ui segment">
               <div class="ui grid team-member">
                  <!-- Creating chosen pokemon's card -->
                  <div class="member-card center aligned five wide column">
                     <div class="ui card chosen">
                        <div class="image">
                           <img src="https://pm1.narvii.com/6508/dbd421799e1fc9118c02766e5c13836c87db6070_hq.jpg" />
                        </div>
                        <div class="description"></div>
                     </div>
                  </div>
                  <!-- Creating chosen pokemon's type details -->
               <div class="member-details eleven wide column">
                  <div class="ui grid details">
                     <div class="main two column row">
                        <div class="column"><div class="type-one"></div></div>
                        <div class="column"><div class="type-two"></div></div>
                     </div>
                     <div class="effect row"><h5 class="header super-effective"></h5><hr></div>
                     <div class="two column row">
                        <div class="column"><p class="super-effective-one"></p></div>
                        <div class="column"><p class="super-effective-two"></p></div>  
                     </div>
                     <div class="effect row"><h5 class="header not-effective"></h5><hr></div>
                     <div class="two column row">
                        <div class="column"><p class="not-effective-one"></p></div>
                        <div class="column"><p class="not-effective-two"></p></div>
                     </div>
                     <div class="effect row"><h5 class="header no-effect"></h5><hr></div>
                     <div class="two column row">
                        <div class="column"><p class="no-effect-one"></p></div>
                        <div class="column"><p class="no-effect-two"></p></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <% } %>
   </div>

   <!-- Analysis Table -->      
   <div class="analysis-table">
      <div class="ui stackable doubling grid legend-section">
         <!-- Analysis Table's Title -->      
         <div class="row table-title">
            <div class="sixteen wide column">
               POKEMON TEAM ANALYSIS TABLE
            </div>
         </div>
         <!-- Analysis Table's Legend -->      
            <hr class="table-divider">
            <div class="row legend-row"> 
               <div class="two wide column table-effect">
                  SUPER-EFFECTIVE
               </div>
               <div class="column legend-icon table-pokemon">
                  <div class="table-super-effective">
                     2x
                  </div>
               </div>
               <div class="two wide column table-description">
                  This pokemon's attack does double damage to this type
               </div>
               <div class="three wide column table-effect">
                  NOT-VERY-EFFECTIVE
               </div>
               <div class="column legend-icon table-pokemon">
                  <div class="table-not-effective">
                     0.5x
                  </div>
               </div>
               <div class="two wide column table-description">
                  This pokemon's attack does half damage to this type
               </div>
               <div class="two wide column table-effect">
                  NO-EFFECT
               </div>
               <div class="column legend-icon table-pokemon">
                  <div class="table-no-effect">
                     0x
                  </div>
               </div>
               <div class="two wide column table-description">
                  This pokemon's attack has no effect on this type
               </div>
            </div>
            <hr class="table-divider">
         </div>
      </div>
      
   <!-- Analysis Table's Main Table -->      
   <div class="ui stackable doubling nine column grid analysis-table">
      <div class="row table-header">
      </div>
   </div>
   <hr class="table-summary-line">    

   <!-- Analysis Table summary  -->
   <div class="table-summary">
      HELLO!
   </div>
   <hr class="table-summary-line">
   <!-- Filter Options  -->
   <form>
      <div>FILTER BY</div>
      <div><button type="button" id="uncheck">Uncheck All</button></div>
      <div><button type="button" id="check">Check All</button></div>
      <div id="types-checkbox">
         <div>TYPES</div>
         <input type="checkbox" id="normal" value="normal" checked>
         <label for="normal">NORMAL</label>
         <input type="checkbox" id="fighting" value="fighting" checked>
         <label for="fighting">FIGHTING</label>
         <input type="checkbox" id="flying" value="flying" checked>
         <label for="flying">FLYING</label>
         <input type="checkbox" id="poison" value="poison" checked>
         <label for="poison">POISON</label>
         <input type="checkbox" id="ground" value="ground" checked>
         <label for="ground">GROUND</label>
         <input type="checkbox" id="rock" value="rock" checked>
         <label for="rock">ROCK</label>
         <input type="checkbox" id="bug" value="bug" checked>
         <label for="bug">BUG</label>
         <input type="checkbox" id="ghost" value="ghost" checked>
         <label for="ghost">GHOST</label>
         <input type="checkbox" id="steel" value="steel" checked>
         <label for="steel">STEEL</label>
         <input type="checkbox" id="fire" value="fire" checked>
         <label for="fire">FIRE</label>
         <input type="checkbox" id="water" value="water" checked>
         <label for="water">WATER</label>
         <input type="checkbox" id="grass" value="grass" checked>
         <label for="grass">GRASS</label>
         <input type="checkbox" id="electric" value="electric" checked>
         <label for="electric">ELECTRIC</label>
         <input type="checkbox" id="psychic" value="psychic" checked>
         <label for="psychic">PSYCHIC</label>
         <input type="checkbox" id="ice" value="ice" checked>
         <label for="ice">ICE</label>
         <input type="checkbox" id="dragon" value="dragon" checked>
         <label for="dragon">DRAGON</label>
         <input type="checkbox" id="dark" value="dark" checked>
         <label for="dark">DARK</label>
         <input type="checkbox" id="fairy" value="fairy" checked>
         <label for="fairy">FAIRY</label>
      </div>
      <div>
         <div>VERSION</div>
         <select id="version">
            <option value="all" selected>All Versions</option>
            <option value="redBlueYelDex">Red/Blue/Yellow</option>
            <option value="goldSilvCrysDex">Gold/Silver/Crystal</option>
            <option value="rubySappEmerDex">Ruby/Sapphire/Emerald</option>
            <option value="diaPearlDex">Diamond/Pearl</option>
            <option value="platDex">Platinum</option>
            <option value="heartSoulDex">HeartGold/SoulSilver</option>
            <option value="blackWhiteDex">Black/White</option>
            <option value="blackWhite2Dex">Black 2/White 2</option>
            <option value="omegaAlphaDex">Omega Ruby/Alpha Sapphire</option>
            <option value="Dex">X / Y</option>
         </select>
      </div>
      <div>
         <div>INCLUDE POKEMON THAT EVOLVED BY TRADE</div>
         <input type="radio" id="noTrade" value="false" name="evolve">
         <label for="noTrade">No</label>
         <input type="radio" id="yesTrade" value="true" name="evolve" checked>
         <label for="yesTrade">Yes</label>
      </div>
      <div>
         <div>SORT BY</div>
         <select id="sort">
            <option value="id">ID</option>
            <option value="a-z">Name</option>
         </select>
      </div>
      <button type="button" id="filter-submit">Reload</button>
   </form>   

   <!-- Creating ALL filtered pokemons' thumbnails -->
   <div class="ui eight column doubling centered grid thumbnails">
      <% nPokedex.forEach( pokemon => { %>
      <div class="center aligned column">
         <div class="ui card thumbnail">
            <div class="image"><img src="<%= pokemon.image %>" /></div>
            <div class="description">
               <strong>#</strong><span><%= pokemon.id %></span>
               <div class="pokemon-name"><%= pokemon.name %></div>
            </div>
         </div>
      </div>
      <% }) %>
   </div>
</div>

<script>
   //Converting ejs variables to js variables and passing into the external js script file
   var nPokedex = <%- JSON.stringify(nPokedex) %>;
   var types = <%- JSON.stringify(types) %>;
   var protoTable = <%- JSON.stringify(table) %>;
</script>
<script type="text/javascript" src="/js/main.js"></script>

<% include ./partials/footer %>
