<% include ./partials/header %>

<!-- Website Logo -->
<div class="logo">            
   <img src="https://i.imgur.com/g8Pw1UO.png">
</div>   

<div class="container">
   <div class="ui doubling two column grid whole-team">
      <!-- Creating chosen pokemon team members -->
      <% for(var i=0; i<6; i++){ %>
         <div class="ui column team">
            <div class="ui segment">
               <div class="ui grid team-member">
                  <!-- Creating chosen pokemon's card -->
                  <div class="member-card center aligned five wide column">
                     <div class="ui card chosen">
                        <div class="image">
                           <img src="https://orig00.deviantart.net/696e/f/2013/019/2/7/pokeball_by_zel_duh-d5s04qj.gif" />
                        </div>
                        <div class="description">
                           <!-- pokemon id and name goes here -->
                        </div>
                     </div>
                  </div>
                  <!-- Creating chosen pokemon's type details -->
               <div class="member-details eleven wide column">
                  <div class="ui grid details">
                     <div class="main two column row">
                        <div class="column"><div class="type-one"></div></div>
                        <div class="column"><div class="type-two"></div></div>
                     </div>
                     <div class="effect row"><h5 class="header super-effective"></h5><hr></div>
                     <div class="two column row">
                        <div class="column"><p class="super-effective-one"></p></div>
                        <div class="column"><p class="super-effective-two"></p></div>  
                     </div>
                     <div class="effect row"><h5 class="header not-effective"></h5><hr></div>
                     <div class="two column row">
                        <div class="column"><p class="not-effective-one"></p></div>
                        <div class="column"><p class="not-effective-two"></p></div>
                     </div>
                     <div class="effect row"><h5 class="header no-effect"></h5><hr></div>
                     <div class="two column row">
                        <div class="column"><p class="no-effect-one"></p></div>
                        <div class="column"><p class="no-effect-two"></p></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <% } %>
   </div>

   <!-- Analysis Table -->      
   <div class="analysis-table">
      <div class="ui stackable doubling grid">
         <!-- Analysis Table's Title -->      
         <div class="row table-title">
            <div class="sixteen wide column">
               POKÉMON TEAM ANALYSIS
            </div>
         </div>
      </div>
      <!-- Analysis Table's Legend -->      
      <div class="ui stackable three column grid legend-section">
         <div class="column">
            <div class="ui grid">
               <div class="row legend-row">
                  <div class="five wide column table-effect">
                     SUPER EFFECTIVE
                  </div>
                  <div class="two wide column legend-icon table-pokemon table-super-effective">
                     2x
                  </div>
                  <div class="nine wide column table-description">
                     This pokemon's attack does double damage to this type 
                     <i class="fas fa-fist-raised"></i>
                  </div>
               </div>
            </div>
         </div>
         <div class="column">
            <div class="ui grid">
               <div class="row legend-row">
                  <div class="five wide column table-effect">
                        NOT VERY EFFECTIVE
                  </div>
                  <div class="two wide column legend-icon table-pokemon table-not-effective">
                     0.5x
                  </div>
                  <div class="nine wide column table-description">
                        This pokemon's attack does half damage to this type 
                        <i class="fas fa-heart-broken"></i>                
                  </div>
               </div>
            </div>
         </div>
         <div class="column">
            <div class="ui grid">
               <div class="row legend-row">
                  <div class="five wide column table-effect">
                        NO EFFECT
                  </div>
                  <div class="two wide column legend-icon table-pokemon table-no-effect">
                     0x
                  </div>
                  <div class="nine wide column table-description">
                        This pokemon's attack has no effect on this type 
                        <i class="fas fa-skull"></i>
                  </div>
               </div>
            </div>
         </div>
      </div>          
   </div>
      
   <!-- Analysis Table's Main Table -->      
   <div class="ui stackable doubling nine column grid analysis-table">
      <div class="row table-header">
         <!-- analysis table header and rows go here -->
      </div>
   </div>
     

   <!-- Analysis Table summary  -->
   <div>
      <div class="table-summary">
         <!-- analysis table summary messages go here -->
      </div>
   </div>
   <!-- Filter Options  -->
   <form class="filter-form ui form">
      <h3 class="filter-header">POKÉDEX</h3>
      <div class="ui stackable grid form-contents">
         <div class="seven wide column checkbox-column">
            <div id="types-checkbox">
               <div class="input-header">
                  TYPES
                  <button type="button" id="uncheck" class="ui left attached basic button">Uncheck All</button>
                  <button type="button" id="check" class="ui right attached basic button">Check All</button>
               </div>
               <div class="ui six column doubling grid checkbox-contents">
                  <div class="column">
                     <input type="checkbox" id="normal" value="normal" class="checkbox-custom" checked>
                     <label for="normal" class="checkbox-custom-label">NORMAL</label>
                  </div>
                  <div class="column">
                     <input type="checkbox" id="fighting" value="fighting" class="checkbox-custom" checked>
                     <label for="fighting" class="checkbox-custom-label">FIGHTING</label>
                  </div>
                  <div class="column">
                     <input type="checkbox" id="flying" value="flying" class="checkbox-custom" checked>
                     <label for="flying" class="checkbox-custom-label">FLYING</label>
                  </div>
                  <div class="column">
                     <input type="checkbox" id="poison" value="poison" class="checkbox-custom" checked>
                     <label for="poison" class="checkbox-custom-label">POISON</label>
                  </div>
                  <div class="column">
                     <input type="checkbox" id="ground" value="ground" class="checkbox-custom" checked>
                     <label for="ground" class="checkbox-custom-label">GROUND</label>
                  </div>
                  <div class="column">
                     <input type="checkbox" id="rock" value="rock" class="checkbox-custom" checked>
                     <label for="rock" class="checkbox-custom-label">ROCK</label>
                  </div>
                  <div class="column">
                     <input type="checkbox" id="bug" value="bug" class="checkbox-custom" checked>
                     <label for="bug" class="checkbox-custom-label">BUG</label>
                  </div>
                  <div class="column">
                     <input type="checkbox" id="ghost" value="ghost" class="checkbox-custom" checked>
                     <label for="ghost" class="checkbox-custom-label">GHOST</label>
                  </div>
                  <div class="column">
                     <input type="checkbox" id="steel" value="steel" class="checkbox-custom" checked>
                     <label for="steel" class="checkbox-custom-label">STEEL</label>
                  </div>
                  <div class="column">
                     <input type="checkbox" id="fire" value="fire" class="checkbox-custom" checked>
                     <label for="fire" class="checkbox-custom-label">FIRE</label>
                  </div>
                  <div class="column">
                     <input type="checkbox" id="water" value="water" class="checkbox-custom" checked>
                     <label for="water" class="checkbox-custom-label">WATER</label>
                  </div>
                  <div class="column">
                     <input type="checkbox" id="grass" value="grass" class="checkbox-custom" checked>
                     <label for="grass" class="checkbox-custom-label">GRASS</label>
                  </div>
                  <div class="column">
                     <input type="checkbox" id="electric" value="electric" class="checkbox-custom" checked>
                     <label for="electric" class="checkbox-custom-label">ELECTRIC</label>
                  </div>
                  <div class="column">
                     <input type="checkbox" id="psychic" value="psychic" class="checkbox-custom" checked>
                     <label for="psychic" class="checkbox-custom-label">PSYCHIC</label>
                  </div>
                  <div class="column">
                     <input type="checkbox" id="ice" value="ice" class="checkbox-custom" checked>
                     <label for="ice" class="checkbox-custom-label">ICE</label>
                  </div>
                  <div class="column">
                     <input type="checkbox" id="dragon" value="dragon" class="checkbox-custom" checked>
                     <label for="dragon" class="checkbox-custom-label">DRAGON</label>
                  </div>
                  <div class="column">
                     <input type="checkbox" id="dark" value="dark" class="checkbox-custom" checked>
                     <label for="dark" class="checkbox-custom-label">DARK</label>
                  </div>
                  <div class="column">
                     <input type="checkbox" id="fairy" value="fairy" class="checkbox-custom" checked>
                     <label for="fairy" class="checkbox-custom-label">FAIRY</label>
                  </div>
               </div>          
            </div>
         </div>
         <div class="five wide column">
            <div class="field">
               <div class="input-header">VERSION</div>
               <select id="version" class="ui selection dropdown">
                  <option value="all" selected>All Versions</option>
                  <option value="redBlueYelDex">Red/Blue/Yellow</option>
                  <option value="goldSilvCrysDex">Gold/Silver/Crystal</option>
                  <option value="rubySappEmerDex">Ruby/Sapphire/Emerald</option>
                  <option value="diaPearlDex">Diamond/Pearl</option>
                  <option value="platDex">Platinum</option>
                  <option value="heartSoulDex">HeartGold/SoulSilver</option>
                  <option value="blackWhiteDex">Black/White</option>
                  <option value="blackWhite2Dex">Black 2/White 2</option>
                  <option value="omegaAlphaDex">Omega Ruby/Alpha Sapphire</option>
                  <option value="Dex">X / Y</option>
               </select>
            </div>
            <div class="input-radio">
               <div class="radio-header">INCLUDE EVOLUTION BY TRADE?</div>
               <div class="input-radio">
                  <div class="ui radio checkbox">
                     <input type="radio" id="noTrade" value="false" name="evolve">
                     <label for="noTrade">No</label>
                  </div>
                  <div class="ui radio checkbox">
                     <input type="radio" id="yesTrade" value="true" name="evolve" checked>
                     <label for="yesTrade">Yes</label>
                  </div>
               </div>
            </div>
         </div>
         <div class="four wide column">
            <div>
               <div class="input-header">SORT BY</div>
               <select id="sort">
                  <option value="id">ID</option>
                  <option value="a-z">Name</option>
               </select>
            </div>
            <button type="button" id="filter-submit" class="ui gray button">FILTER</button>
         </div>
      </div>
   </form>   

   <!-- Creating ALL filtered pokemons' thumbnails -->
   <div class="ui eight column doubling centered grid thumbnails">
      <% nPokedex.forEach( pokemon => { %>
      <div class="center aligned column">
         <div class="ui card thumbnail">
            <div class="image"><img src="<%= pokemon.image %>" /></div>
            <div class="description">
               <strong>#</strong><span><%= pokemon.id %></span>
               <div class="pokemon-name"><%= pokemon.name %></div>
            </div>
         </div>
      </div>
      <% }) %>
   </div>
</div>

<script>
   //Converting ejs variables to js variables and passing into the external js script file
   var nPokedex = <%- JSON.stringify(nPokedex) %>;
   var types = <%- JSON.stringify(types) %>;
   var protoTable = <%- JSON.stringify(table) %>;
</script>
<script type="text/javascript" src="/js/main.js"></script>

<% include ./partials/footer %>
